/*
*********
COMMON
*********
*/
@use './variables' as *;

.text-color-white {
  color: $primary-text-white;
}

.text-color-grey {
  color: $primary-text-grey;
}

.default-button-blu {
  font-weight: 600;
  color: $primary-text-white;
  background-color: $primary-button-blue;
  border: none;
  padding: 16px 30px;
  border-radius: 55px;
}
.default-button-blu:hover {
  background-color: $primary-text-red;
}

.default-button-black {
  font-weight: 600;
  color: $primary-text-grey;
  background-color: $primary-bg-black;

  border: $primary-text-dark-grey solid 4px;
  padding: 16px 30px;
  border-radius: 55px;
}
.default-button-black:hover {
  background-color: #ffffff;
  color: #000000;
  border: #ffffff solid 4px;
}

.default-button-red {
  font-weight: 600;
  color: $primary-text-white;
  background-color: $primary-bg-yotube-btn;
  border: none;
  padding: 16px 30px;
  border-radius: 55px;
}

.default-input-white {
  font-weight: 600;
  color: $primary-text-grey;
  background-color: #ffffff;
  border: none;
  padding: 16px 30px;
  border-radius: 55px;
}
.play-button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: none;
  color: $primary-button-blue;
  font-size: 24px;
}

.angle-card {
  overflow: hidden;
  border-radius: 3px 3px 40px 3px;
}

.awesome-separator {
  color: $primary-bg-yellow;
  font-size: 40px;
}
