/*
*********
COMMON
*********
*/
@use './variables' as *;

.text-color-white {
  color: $primary-text-white;
}

.text-color-grey {
  color: $primary-text-grey;
}

.default-button-blu {
  font-weight: 600;
  color: $primary-text-white;
  background-color: $primary-button-blue;
  border: none;
  padding: 16px 30px 12px 30px;
  border-radius: 55px;
}
