/*
*********
VARIABLES
*********
*/

$primary-gradient-blue: #0419e9;
$primary-gradient-red: #d3010e;
$primary-gradient-rgba-blu: rgba(5, 25, 233, 0.5);
$primary-gradient-rgba-red: rgba(210, 1, 15, 0.5);
$primary-plans-black: #060607;
