/*
*********
VARIABLES
*********
*/

$primary-text-grey: #98939f;
$primary-text-light-grey: #cccccc;
$primary-text-white: #d7ffff;
$primary-text-red: #ff414b;
$primary-text-dark-grey: #2c2a35;
$primary-text-dark-blue: #33475b;
$primary-text-green-fluo: #65bc7b;
$primary-text-black-purple: #524a59;
$primary-text-blue: #6b54ff;
$primary-text-celest: #5768ff;

$primary-boreder-blue: #3240c1;
$primary-button-blue: #4154ff;
$primary-gradient-blue: #0419e9;
$primary-gradient-red: #d3010e;
$primary-gradient-rgba-blu: rgba(5, 25, 233, 0.5);
$primary-gradient-rgba-red: rgba(210, 1, 15, 0.5);
$primary-bg-black: #060607;
$primary-bg-black-trasparent: #06060700;
$primary-bg-black-ligher-trasparent: rgba(0, 0, 0, 0.2);
$primary-bg-yellow: #fff941;
$primary-bg-subscribe-btn: #e62117;
$primary-bg-yotube-btn: #ff0000;
